<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Advent Of Code 2024" %></title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #11999b;
        color: white;
        font-size: 40px;
        text-align: center;
        flex-direction: column; /* Stack elements vertically */
      }
      .answer-container {
        display: flex; /* Use flexbox for alignment */
        align-items: center; /* Center items vertically */
        /* margin-bottom: 20px; Space between answer and response */
      }
      .button {
        background-color: #6a0dad; /* Purple color */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 15px; /* Add padding for better appearance */
        font-size: 25px; /* Adjust font size */
        cursor: pointer; /* Pointer cursor on hover */
        margin-left: 20px; /* Space between answer and button */
        transition: background-color 0.3s; /* Smooth transition for hover */
      }
      .button:hover {
        background-color: #5b0c9e; /* Darker purple on hover */
      }
      .response {
        font-size: 30px; /* Adjust font size for response */
        margin-top: 10px; /* Space above response */
        margin-bottom: 70px; /* Space above response */
      }
    </style>
  </head>
  <body>
    <div class="answer-container">
      <span><%= @answer %></span>
      <%= button_to 'Post', { controller: "days", action: "post1", answer: @answer }, { method: :post, class: 'button' } %>
    </div>
    <div class="response">
      <%= @response1 || "Not solved yet." %>
    </div>
    <div class="answer-container">
      <span><%= @answer2 %></span>
      <%= button_to 'Post', { controller: "days", action: "post2", answer: @answer2 }, { method: :post, class: 'button' } %>
    </div>
    <div class="response">
      <%= @response2 || "Not solved yet." %>
    </div>
  </body>
</html>
